h1{
	font-family: 'permanent marker';
	text-align:center;
}
.art
{
	width: 50%;
	margin:auto;
}
td{
	height: 200px;
	width: 50px;
	border: 5px solid black;
}

#one{
	background-color: #E63946;
}


#two{
	background-color: #F1FAEE;
}

#three{
	background-color: #A8DADC;
}

#four{
	background-color: #457B9D;
}

#five{
	background-color: #1D3557;
}