body{
	background-color: #33FFE3;
	font-family: cursive;
}

h1{
	border: 1px dotted black;

}
a:link {
    color: green;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: yellow;
}
h2{
	color: purple;
}

input{
	border:2px solid rgb(255,0,0);
}

p{
	background-color: #E8FF33; 
}

#textblock{
	border: 5px solid gray;
	width: 800px;
	height: 400px;
}
li a{
	color: red;
}

#itemone{
	color: purple;
	text-decoration: overline;
}

.exit{
	background-color: blue;
	border:4px dashed yellow;
}